<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
    <!-- Add your page content here -->
    <Label class="" text="{{ 'app.name' | L }}"></Label>
</GridLayout>