<ScrollView width="100%" height="100%">
    <StackLayout width="100%" height="100%">
        <GridLayout rows="33*, 67*">
            <GridLayout row="0" class="logo-container">
                <GridLayout class="image-container">
                    <Image src="~/app/assets/images/success_logo_green.png"></Image>
                </GridLayout>
            </GridLayout>
            <GridLayout row="1" rows="*, auto" [ngClass]="{'login-page-tablet': isTablet()}">
                <GridLayout row="0" rows="auto" rows="*">
                    <ActivityIndicator color="white" [busy]="isAuthenticating"
                        horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
                </GridLayout>
                <GridLayout row="0" rows="*">
                    <GridLayout row="0" rows="auto, auto, auto, auto" class="container-padding" verticalAlignment="top">
                        <GridLayout row="0" rows="auto, auto, auto">
							<Label
								class="eloha-font-regular login-field-label m-b-2"
                                [ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
								row="0"
								text="Email"
							></Label>
							<TextField #email
								row="1"
								class="eloha-font-regular login-input-field"
								ios:style="padding:10"
								android:style="padding-left:10; padding-right: 10"
								hint="E.g. user@examples.com"
								keyboardType="email"
								[(ngModel)]="user.email"
								autocorrect="false"
								autocapitalizationType="none"
								(focus)="onEmailFocus()"
								[ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet(), 'input-field-error': hasEmailErrors()}"
							></TextField>
							<Label
								*ngIf="hasEmailErrors()"
								class="eloha-font-regular m-t-2 login-field-label color-danger"
								row="2"
								[text]="getEmailError()"
								[ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
							></Label>
                        </GridLayout>
                        <GridLayout row="1" rows="auto, auto, auto" class="m-t-10">
							<Label
								class="eloha-font-regular login-field-label m-b-2"
                                [ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
								row="0" text="Password"
							></Label>
							<GridLayout
								row="1"
								columns="*, auto"
								class="login-password-container"
								ios:style="padding: 10"
								[ngClass]="{'input-field-error': hasPasswordErrors()}"
							>
								<TextField #password
									col="0"
									class="eloha-font-regular login-password-field"
									hint="Password"
									android:style="padding-left: 10"
									secure="true"
									[(ngModel)]="user.password"
									(focus)="onPasswordFocus()"
									[ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
								></TextField>
								<Label
									col="1"
									[text]="showHideIcon"
									class="show-hide-icon"
                                    [ngClass]="{'font-size-lg': !isTablet(), 'font-size-lg-tablet': isTablet()}"
                                    (tap)="showHidePassword()"
									verticalAlignment="middle"
									android:style="padding-right: 10"
								></Label>
                            </GridLayout>
							<Label
								*ngIf="hasPasswordErrors()"
								class="eloha-font-regular m-t-2 login-field-label color-danger"
								row="2"
								[text]="getPasswordError()"
								[ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
							></Label>
                        </GridLayout>
                        <GridLayout row="2" rows="auto, auto" class="submit-container">
							<Button
								row="0"
								[isEnabled]="isSubmitEnabled()"
                                class="eloha-font-regular login-submit"
								[text]="'Sign in'"
								(tap)="login()"
								[ngClass]="{'font-size-lg': !isTablet(), 'font-size-lg-tablet': isTablet()}"
							></Button>
							<Label
								*ngIf="hasLoginErrors()"
								class="eloha-font-regular color-danger"
								row="1"
								[text]="getLoginError()"
								textWrap="true"
								[ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
							></Label>
                        </GridLayout>
                        <GridLayout row="3" class="p-t-20">
							<Button
								row="3"
								horizontalAlignment="center"
                                class="eloha-font-regular login-forgot-password"
                                android:style="border-width: 1; background-color: transparent; border-color: transparent; text-transform: none;"
								text="Forgot password?"
								(tap)="forgotPassword()"
								[ngClass]="{'font-size-lg': !isTablet(), 'font-size-lg-tablet': isTablet()}"
							></Button>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <GridLayout row="1" rows="auto, auto" verticalAlignment="bottom"
                    class="m-b-2">
					<Label
						row="0"
						text="Powered by Success Software Services Corporation"
						class="eloha-font-regular copyright-label"
						[ngClass]="{'font-size-sm': !isTablet(), 'font-size-sm-tablet': isTablet()}"
					></Label>
					<Label
						row="1"
						text="© Copyright 2019"
						class="eloha-font-regular copyright-label"
						[ngClass]="{'font-size-sm': !isTablet(), 'font-size-sm-tablet': isTablet()}"
					></Label>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>