/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

@font-face {
    font-family: Droid-Sans-Mono;
    src: url("app/assets/fonts/DroidSansMono.ttf") format("tff");
}

@font-face {
    font-family: FontAwesome;
    src: url("app/assets/fonts/FontAwesome.ttf") format("tff");
}
/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.errors {
    color: red;
    font-size: small;
    text-align: right;
}

* {
    font-family: Droid-Sans-Mono;
    -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.action-bar {
    background-color: rgba(8, 25, 33, 0.45);
    color: #FFFFFF;
}

.page {
background-color: #103241;  
}

.fa {
    font-family: "FontAwesome";
}

.eloha-font-light {
    font-family: 'Open Sans', 'OpenSans-Regular';
    font-weight: 300;
}

.eloha-font-regular {
    font-family: 'Open Sans', 'OpenSans-Regular';
    font-weight: 400;
}

.eloha-font-semibold {
    font-family: 'Open Sans', 'OpenSans-SemiBold';
    font-weight: 600;
}

.eloha-font-bold {
    font-family: 'Open Sans', 'OpenSans-SemiBold';
    font-weight: 700;
}

.font-size-sm {
font-size: 12;
}

.font-size-sm-tablet {
font-size: 17;
}

.font-size-md {
font-size: 14;
}

.font-size-md-tablet {
font-size: 19;
}

.font-size-lg {
font-size: 16;
}

.font-size-lg-tablet {
font-size: 21;
}

.login-page-background {
background-color: #103241;
}

.copyright-label {
    text-align: center;
    opacity: .6;
    color: #A5A5A5;
}

.container-padding {
    padding-left: 30;
    padding-right: 30;
    padding-top: 10;
}

.login-input-field {
    color:#527796;
    border-width: 1;
    border-radius: 50;
    border-color:#FFFFFF;
    background-color:#FFFFFF;
    placeholder-color: rgba(16, 50, 65, .45);
    vertical-align: middle;
}

.login-password-container {
    color:#527796;
    border-width: 1;
    border-radius: 50;
    border-color:#FFFFFF;
    background-color:#FFFFFF;
    vertical-align: middle;
}

.login-password-field {
    color:#527796;
    border-bottom-width: 1;
    border-bottom-color: transparent;
    placeholder-color: rgba(16, 50, 65, .45);
    vertical-align: middle;
}

.login-submit {
    border-width: 1;
    border-radius: 50;
    border-color:rgba(2, 133, 46, 1);
    background-color:rgba(2, 133, 46, 1);
    color:#FFFFFF;
    padding-top:10;
    padding-bottom: 10;
    text-transform: none;
}

.login-forgot-password {
    color: #FFFFFF;
}

.login-submit-top {
    margin-top: 35;
}

.login-submit:disabled {
    color:#FFFFFF;
    opacity: .6;
}

.login-field-label {
    color: #3DB7D8;
}

.input-field-error {
    border-width: 2;
    border-color: rgba(253, 60, 67, .8);
}

.submit-container {
    padding-top: 40;
}

.color-danger {
    color: rgba(253, 60, 67, .8);
}

.show-hide-icon {
    color: #527796;
    font-family: "FontAwesome", "fa-eye-slash";
}

.logo-container {
    clip-path: ellipse(70% 80% at 50% 20%); 
    background-color: #ffffff;
}

.image-container {
    width: 70%;
    opacity: 1;
}

.activity-indicator {
    color: yellow;
    width: 100;
    height: 100;
    padding: 10;
    margin: 10;
}

.login-page-tablet {
    width: 60%;
}

.home-page-tablet {
    width: 60%;
}

.fa-logout {
    font-size: 20; 
    color: rgb(184, 22, 22);
}
